

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

footer {
    background-color: #222;
	padding: 12px;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 50px;
}

footer p, footer form {
	color:#d4d7dd;

}
